$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

@mixin for-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}