@keyframes mymove {
  0% {
    left: 0px;
  }
  100% {
    right: 100%;
  }
}
@keyframes moveDots {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0%;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 4;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 4;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 4;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 2;
  }
  100% {
    opacity: 3;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes pulseText {
  0% {
    font-size: large;
  }
  50% {
    font-size: medium;
  }
  100% {
    font-size: large;
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes spin-left {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 10px #38a0e1;
  }
  50% {
    box-shadow: 0 0 30px #38a0e1;
  }
  100% {
    box-shadow: 0 0 10px #38a0e1;
  }
}
@font-face {
  font-family: "TitilliumWeb";
  src: url("../../Assets/Font/TitilliumWeb-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url("../../Assets/Font/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
.title-about {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(180deg, #6beaea, #2d536c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.camilo-container {
  width: 100%;
  height: auto;
  margin: auto;
}
@media (min-width: 768px) {
  .camilo-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .camilo-container {
    width: 1000px;
    padding-bottom: 100px;
  }
}

.camilo-image {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 0px 2px 5px 0px #38a0e1;
  animation: shadowPulse 4s ease-in-out infinite, appear 2s ease-in-out;
}
@media (min-width: 1280px) {
  .camilo-image {
    height: 300px;
    margin-top: 50px;
  }
}

.p-about-me {
  font-size: 14px;
  color: #f8f8f8;
  padding: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .p-about-me {
    font-size: 1.25rem;
    width: 60%;
    margin-left: 50px;
    padding: 20px;
    border-radius: 30px;
  }
}
@media (min-width: 1280px) {
  .p-about-me {
    font-size: 1.5rem;
  }
}

.my-skills {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.skills-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .skills-container {
    width: 700px;
  }
}
@media (min-width: 1280px) {
  .skills-container {
    width: 500px;
    margin-top: 130px;
  }
}

.icon-container:hover {
  background-color: #213541;
  border-radius: 6px;
  cursor: pointer;
}

.icon-container {
  width: 100px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
@media (min-width: 768px) {
  .icon-container {
    padding: 20px;
  }
}

.icon {
  max-height: 40px;
  padding: 5px;
}
.icon__netlify {
  border-radius: 10px;
}
@media (min-width: 768px) {
  .icon {
    max-height: 60px;
  }
}

.skills {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
@media (min-width: 768px) {
  .skills {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.skills__js {
  color: #ffec44;
}
.skills__react {
  color: #08edff;
}
.skills__node {
  color: #7ecd64;
}
.skills__axios {
  color: #ff1e00;
}
.skills__html {
  color: #d1210c;
}
.skills__css {
  color: #0eb3ff;
}
.skills__sass {
  color: #ff099d;
}
.skills__netlify {
  color: #00ffa6;
}
.skills__router {
  color: #00ffff;
}
.skills__mysql {
  color: #ffd000;
}
.skills__postman {
  color: #ff8100;
}
.skills__git {
  color: #fff;
}
.skills__jira {
  color: #01a2ff;
}
.skills__heroku {
  color: #ff0f9f;
}

.my-education {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1280px) {
  .my-education {
    margin-top: 0;
    margin-right: 70px;
  }
}

.education-date {
  font-weight: 600;
  color: #fcffff;
}

li::marker {
  color: #00000c;
}

h3 {
  color: #2ecccc;
  font-size: 20px;
}

@media (min-width: 1280px) {
  .education-list-container {
    width: 500px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.education-list {
  padding: 10px;
}
@media (min-width: 768px) {
  .education-list {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .education-list {
    font-size: 1.5rem;
    width: 400px;
    margin-left: 40px;
  }
}

@media (min-width: 1280px) {
  .skills-education-wrap {
    width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}/*# sourceMappingURL=About.css.map */