@use '../../Styles/Partials/Styles' as *;

.home-container{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    z-index: 1;
    @include for-tablet{
    
       padding-top: 30px;
      }
      @include for-desktop{
      background-size: 100%;
      background-repeat: no-repeat;
      }

}
.home-camilo-container{
    margin-top: 50px;
    margin-left: 5%;
    animation-name: slide-left;
    animation-duration: 2s;
    @include for-tablet{
        margin-left: 20%;
    }
    @include for-desktop{
        height: 20px;
        margin-left:auto ;
        margin-right: auto;
        margin-top: 50px;
     }
     
}

.home-camilo-last-name{
    margin-left: 5%;
    animation-name: slide-right;
    animation-duration: 2s;
    @include for-tablet{
        margin-left: 25%;
    }
    @include for-desktop{
        margin-left:auto ;
        margin-right: auto;
        margin-top: 50px;
     }
}
.home-camilo{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(180deg, #6beaea, #2d536c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation-name: appear;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    &__1 { 
        animation-delay: 2.2s;
      }
      
      &__2 { 
        animation-delay: 2.3s;
      }
      
      &__3 { 
        animation-delay: 2.4s;
      }
      
      &__4 { 
        animation-delay: 2.5s;
      }
      &__5 { 
        animation-delay: 2.6s;
      }
      
      &__6 { 
        animation-delay: 2.7s;
      }
      
      &__7 { 
        animation-delay: 2.8s;
      }
      
      &__8 { 
        animation-delay: 2.9s;
      }
      
      &__9 { 
        animation-delay: 3s;
      }
      
      &__10 { 
        animation-delay: 3.2s;
      }
      
      &__11 { 
        animation-delay: 3.3s;
      }
      
      &__12 { 
        animation-delay: 3.4s;
      }
      
      &__13 { 
        animation-delay: 3.5s;
      }
      
      &__14 { 
        animation-delay: 3.6s;
      }
      
   @include for-tablet{
    font-size: 70px;
}

}
.home-subtitle{
  text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, #ffc92a, #5f5515); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent; 
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 3.8s; 
    font-weight: 600;
   
    @include for-tablet{
        margin: auto;
        padding: 40px;
        font-size: 25px;
    }
    @include for-desktop{
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }
 
}
.home-images-container{
    width: 90%;
    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: transparent; 
    background-image: url('../../Assets/Images/prismas.png');
    background-size: 100px 100px; 
    animation: moveDots 10s linear infinite; 
    box-shadow: 0px 2px 5px 0px #0b0b0b;
   @include for-tablet{
    width: 500px;
   }
}
.developer{
    position: absolute;
    top:470px;
    margin: auto;
    height: 150px;
    opacity: 0; 
    animation: fadeIn 1s forwards;
    animation-delay: 4s;
    @include for-tablet{
        top: 630px;
       height: 200px;
    }
    @include for-desktop{
      top: 660px;
     }
    
}
.mountain{
    height: 250px;
    animation-name: slide-bottom;
    animation-duration: 1s;
    
    @include for-tablet{
        height: 400px;
     }
     
     
}