@use '../../Styles/Partials/Styles' as *;

.home-container{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    z-index: 1;
    @include for-tablet{
    
       padding-top: 30px;
      }
      @include for-desktop{
      background-size: 100%;
      background-repeat: no-repeat;
      }

}


.home-camilo-container{
    margin-top: 0px;
    margin-left: 5%;
    animation-name: slide-left;
    animation-duration: 1s;
    cursor: pointer;
    @include for-tablet{
        height: fit-content;
        margin-left:auto ;
        margin-right: auto;
        margin-top: 50px;
     }
     
}

.home-camilo-last-name{
  width: fit-content;
    margin-left: 5%;
    animation-name: slide-right;
    animation-duration: 1s;
    cursor: pointer;

    @include for-tablet{
        margin-left:auto ;
        margin-right: auto;
        margin-top: 50px;
     }
}
.home-camilo__1:hover{
 color: #6beaea;
}
.home-camilo{
    font-size: 4rem;
    font-weight: 600;
    font-family: Eina 01;
    background: $titleColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    color: #fff;
    animation-name: appear;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    &__1 { 
        animation-delay: 1s;
      }
      
      &__2 { 
        animation-delay: 1.2s;
      }
      
      &__3 { 
        animation-delay: 1.3s;
      }
      
      &__4 { 
        animation-delay: 1.4s;
      }
      &__5 { 
        animation-delay: 1.5s;
      }
      
      &__6 { 
        animation-delay: 1.6s;
      }
      
      &__7 { 
        animation-delay: 1s;
      }
      
      &__8 { 
        animation-delay: 1.2s;
      }
      
      &__9 { 
        animation-delay: 1.3s;
      }
      
      &__10 { 
        animation-delay: 1.4s;
      }
      
      &__11 { 
        animation-delay: 1.5s;
      }
      
      &__12 { 
        animation-delay: 1.6s;
      }
      
      &__13 { 
        animation-delay: 1.7s;
      }
      
      &__14 { 
        animation-delay: 1.8s;
      }
      
   @include for-tablet{
    font-size: 10vw;

}
@include for-desktop{
  font-size: 5vw;
}

}
.home-subtitle{
  text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, #ffc92a, #5f5515); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent; 
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s; 
    font-weight: 600;
   
    @include for-tablet{
        margin: auto;
        padding: 40px;
        font-size: 25px;
    }
    @include for-desktop{
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }
 
}
.home-light-container{
width: 80%;
height: fit-content;
display: flex;
justify-content: flex-end;
@include for-tablet{
width: 65%;

}
@include for-desktop{
  width: 60%;
  }
}
.light:hover{
  border-radius: 6px;
  animation: rotate360 1s linear infinite;
  box-shadow: 
  inset 0 0 30px 0 #a3d5ff,    
  inset 20px 0 30px #80bfff,    
  inset -20px 0 30px #4f94d4,    
  inset 20px 0 300px #1f77b4,    
  inset -20px 0 300px #4ab0f8,   
  0 0 50px #a3d5ff,              
  -10px 0 100px #66b2ff,       
  10px 0 80px #3399ff;           
  cursor: pointer;
}
.light{
  width: 50px;
  height: 50px;
  margin-top: 30px;
  background-color: #ffc92a;
  border-radius: 100%;
  border: none;
  animation: moveRightLeft 4s ease-in-out infinite;
  box-shadow: $sunLight;
 @include for-tablet{
  right: 100px;
 }
}
.light-container{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: absolute;
  animation-name: appear;
  animation-duration: 5s;
}
.light__two{
  width: 50px;
  height: 50px;
  margin-top: 30px;
  background-color: #ffc92a;
  border-radius: 100%;
  border: none;
  box-shadow: $sunLight;
   animation: moveUpDown 5s linear infinite;
  
}
.light__three{
  width: 100px;
  height: 100px;
  margin-top: 30px;
  background-color: #ffc92a;
  border-radius: 6px;
  border: none;
  box-shadow: $sunLight;
  animation: rotate360 40s linear infinite;

}
.light__four{
  width: 20px;
  height: 100px;
  background-color: #ffc92a;
  border-radius: 10px;
  border: none;
  box-shadow: $sunLight;
  animation: rotate360 90s linear infinite;

}