@keyframes mymove {
  0% {
    left: 0px;
  }
  100% {
    right: 100%;
  }
}
@keyframes moveDots {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0%;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 4;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 4;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 4;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 2;
  }
  100% {
    opacity: 3;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes pulseText {
  0% {
    font-weight: 1000;
  }
  50% {
    font-weight: 700;
  }
  100% {
    font-weight: 1000;
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes spin-left {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 10px #38a0e1;
  }
  50% {
    box-shadow: 0 0 30px #38a0e1;
  }
  100% {
    box-shadow: 0 0 10px #38a0e1;
  }
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  position: fixed;
  top: 0;
}
@media (min-width: 768px) {
  .header {
    width: 90%;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #0b0b0b;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1280px) {
  .header {
    width: 1000px;
  }
}

.logo:hover {
  cursor: pointer;
}

.logo {
  width: auto;
  font-weight: 700;
  color: black;
  margin-left: 20px;
}

.main-nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .main-nav {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.header-btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #fafafa;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
@media (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-btn .menu-icon,
.header-btn .close-icon {
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  opacity: 0;
}

.header-btn .menu-icon.visible {
  opacity: 1;
  transform: rotate(0deg);
}

.header-btn .close-icon.visible {
  color: #0b0b0b;
  opacity: 1;
  transform: rotate(90deg);
}

.nav-links-wrap {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}
@media (min-width: 768px) {
  .nav-links-wrap {
    width: 400px;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    background-color: transparent;
    margin: 0;
  }
}

.nav-links-wrap.visible {
  height: 100vh;
  opacity: 1;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.link__name {
  position: relative;
}

.link {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 40px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  .link {
    margin-right: 5px;
    width: 150px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    position: relative;
    transition: color 0.4s linear;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc92a;
    z-index: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleX(0);
    border-radius: 6px;
  }
}

@media (min-width: 768px) {
  .link:hover::before {
    transform: scaleX(1);
  }
}

.link:hover .arrow-name,
.link.active .arrow-name {
  transform: translateX(0);
  opacity: 1;
}

.arrow-name {
  margin-right: 10px;
  transform: translateX(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.link:hover .arrow-name {
  transform: translateX(0);
  opacity: 1;
  border-bottom: 2px solid rgb(28, 26, 26);
}

.menu-icon {
  color: #0b0b0b;
}/*# sourceMappingURL=Header.css.map */