@use '../../Styles/Partials/Styles' as *;
.footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #2ecccc;;
 
    @include for-tablet{
        height: 40px;
        position: relative;
        top: 100px;
        width: 90%;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-between;
    }
    @include for-desktop{
        width: 1000px;
         
    }
}
.footer-name{
    text-align: center;
    cursor: pointer;
&:hover{
    color: rgb(42, 104, 138);
}
}
.footer-box-one{
@include for-tablet{
    width: 400px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
}
.footer-box-two{
    width: 50%;
    display: flex;
    justify-content: space-around;
    @include for-tablet{
        width: 200px;
        margin-top: 10px;
    }
}
.footer-icon{
font-size: 20px;
text-decoration: none;
color: #2ecccc;
cursor: pointer;
@include for-tablet{
    font-size: 30px;
}
&:hover{
    color: rgb(42, 104, 138);
}
}