@use './Styles/Partials/Styles' as *;
body {
    height: 100vh;
    background-color: #fafafa; 
    background-image: radial-gradient(circle, rgb(42, 104, 138) 1px, transparent 1px); 
    background-size: 30px 30px; 
    color: #fff;
    animation: moveDots 50s linear infinite; 
}



