@use './Styles/Partials/Styles' as *;

body {
    font-family: $defaultFont;
    min-height: 100vh;
    background-image: url('./Assets/Images/Untitled_Artwork\ 3.png');
    background-size:cover;
    background-position: center;
    z-index: 1;
    background-attachment: fixed; 
    margin: 0;
    padding-top: 60px;
    overscroll-behavior: none;
    @include for-tablet{
        background-size: 100%;
    }
}

